---
layout: default
title: Home
---

<h1>Latest Posts</h1>
{% for post in site.posts limit:5 %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>
    <ul>
    {% assign date = currentdate %}
  {% endif %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}

<hr>

<div class="post">
  {% assign post = site.posts.first %}
  {{ post.content }}
</div>
