<a href="/" {% if page.url == "/" %}style="text-decoration: underline;"{% endif %}>Home</a> | 
<a href="/about/" {% if page.url == "/about/" %}style="text-decoration: underline;"{% endif %}>About Me</a> | 
<a href="/posts/" {% if page.url == "/posts/" %}style="text-decoration: underline;"{% endif %}>Posts</a> | 
<a href="/categories/" {% if page.url == "/categories/" %}style="text-decoration: underline;"{% endif %}>Categories</a> |
<a href="/tags/" {% if page.url == "/tags/" %}style="text-decoration: underline;"{% endif %}>Tags</a>
